## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [55]:
from datetime import datetime

datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2021-08-06 17:52:41'

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [20]:
import math

def calc_area(r):
    return math.pi * r ** 2

calc_area(1) # Unit circle

3.141592653589793

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [23]:
def is_unique(l):
    return len(l) == len(set(l))

input_list = [2,4,5,5,7,9]
is_unique(input_list)

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'horse-racing.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'T': 52, 'H': 42, 'E': 95, ' ': 167, 'A': 62, 'L': 42, 'N': 61, 'O': 58, 'M': 19, 'S': 58, 'C': 25, 'P': 16, 'I': 41, 'V': 10, 'U': 28, 'R': 61, 'D': 35, 'G': 9, '1': 8, 'W': 13, 'F': 12, 'Y': 12, '.': 8, 'B': 6, '2': 10, '4': 2, '(': 1, ',': 8, '0': 10, '3': 2, ')': 1, 'J': 1, 'K': 2, '\n': 4, "'": 3, '[': 1, ']': 1, '7': 1, '8': 1, '9': 2}`

In [62]:
text_file_path = 'data/horse-racing.txt'
counts = {}
with open(text_file_path, 'r') as f:
    #text = f.read().upper()
    c = f.read(1).upper()
    while len(c) > 0:
        counts[c] = counts.get(c, 0) + 1
        c = f.read(1).upper()
counts

{'T': 52,
 'H': 42,
 'E': 95,
 ' ': 167,
 'A': 62,
 'L': 42,
 'N': 61,
 'O': 58,
 'M': 19,
 'S': 58,
 'C': 25,
 'P': 16,
 'I': 41,
 'V': 10,
 'U': 28,
 'R': 61,
 'D': 35,
 'G': 9,
 '1': 8,
 'W': 13,
 'F': 12,
 'Y': 12,
 '.': 8,
 'B': 6,
 '2': 10,
 '4': 2,
 '(': 1,
 ',': 8,
 '0': 10,
 '3': 2,
 ')': 1,
 'J': 1,
 'K': 2,
 '\n': 4,
 "'": 3,
 '[': 1,
 ']': 1,
 '7': 1,
 '8': 1,
 '9': 2}

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [39]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
list1[:3] + list1[4:] + [list1[3] * list1[-1]]

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [35]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
[n for n in original_list if n % 3 == 0]

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [38]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
list(reversed(original_list))

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [40]:
original_list = [1, 2, 3, 4, 5, 6, 7]
[n ** 2 for n in original_list]

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [41]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for first, second in zip(list1, reversed(list2)):
    print(first, second)

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [43]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']
list_of_strings = [nonemptyString for nonemptyString in list_of_strings if len(nonemptyString) > 0]
list_of_strings

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [44]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}
999 in sample_dict.values()

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [63]:
import pandas as pd
df = pd.read_csv('data/titanic.csv')

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [49]:
df['age'].mean()

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [51]:
print(f'Oldest: {df["age"].max()}')
print(f'Youngest: {df["age"].min()}')

Oldest: 80.0
Youngest: 0.42

## How many people embarked from station 'S'?

In [54]:
len(df[df['embarked'] == 'S'])

644